html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
}
body .main-text {
  color: hsl(229, 8%, 60%);
}
body.lock {
  overflow: hidden;
}
body.opened .mobile-menu {
  display: flex;
}
body.closed .header {
  display: none;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.header {
  display: block;
  padding-block: 40px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__right_mobile-menu-trigger {
  display: none;
}
@media (max-width: 667px) {
  .header__right_mobile-menu-trigger {
    display: flex;
  }
}
@media (max-width: 667px) {
  .header .nav {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
}
.nav__item {
  margin-right: 50px;
  color: hsl(229, 31%, 21%);
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.nav__item:hover {
  color: hsl(0, 94%, 66%);
}
.nav .btn {
  height: 40px;
  padding: 13px 29px;
  font-size: 0.75rem;
  letter-spacing: 1px;
  color: hsl(0, 100%, 100%);
  background-color: hsl(0, 94%, 66%);
  border: 1px solid hsl(0, 94%, 66%);
  border-radius: 6px;
  text-transform: uppercase;
  box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.1);
}
.nav .btn:hover {
  color: hsl(0, 94%, 66%);
  background-color: hsl(0, 100%, 100%);
  border: 1px solid hsl(0, 94%, 66%);
}

/* .mobile-menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: rgba($secondary-color-Gblue, 0.2);
} */
.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: rgba(37, 43, 70, 0.8);
}
.mobile-menu .social-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.mobile-menu .white-fill {
  filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(155deg) brightness(100%) contrast(105%);
}
.mobile-menu__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.mobile-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.mobile-nav :nth-child(3) {
  border-bottom: 1px solid hsl(229, 8%, 60%);
}
.mobile-nav__item {
  padding: 22px;
  color: hsl(0, 100%, 100%);
  font-size: 1.125rem;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  letter-spacing: 1px;
  border-top: 1px solid hsl(229, 8%, 60%);
}
.mobile-nav__item:hover {
  color: hsl(0, 94%, 66%);
}
.mobile-nav .btn {
  margin-top: 24px;
  padding: 10px;
  color: hsl(0, 100%, 100%);
  font-size: 1.125rem;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  letter-spacing: 1px;
  border: 2px solid hsl(0, 100%, 100%);
  border-radius: 6px;
}

.hero {
  margin-top: 60px;
}
.hero .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hero__text {
  max-width: 480px;
}
.hero__text h1 {
  font-size: 2.25rem;
  font-weight: 500;
  color: hsl(229, 31%, 21%);
}
.hero__text .btn-container {
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.hero__text .btn-container :nth-child(1) {
  color: hsl(0, 100%, 100%);
  background-color: hsl(231, 69%, 60%);
  padding: 16px 25px;
  border-radius: 6px;
  font-size: 0.875rem;
  font-weight: 500;
  box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.1);
}
.hero__text .btn-container :nth-child(2) {
  color: hsla(229, 31%, 21%, 0.719);
  background-color: hsla(229, 8%, 60%, 0.1);
  padding: 16px 25px;
  border-radius: 6px;
  font-size: 0.875rem;
  font-weight: 500;
  box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.1);
}
.hero__img {
  position: relative;
}
.hero__img-bg {
  background-color: #5368df;
  height: 300px;
  position: absolute;
  width: 120%;
  z-index: -1;
  border-radius: 200px 0 0 200px;
  bottom: 0;
  right: -40%;
}
@media (max-width: 1024px) {
  .hero__img-bg {
    right: -32px;
    width: 100%;
    height: 250px;
  }
}

/* .container {
    max-width: 1440px;
    padding-left: 120px;
    padding-right: 90px;
    margin: 0 auto;
  } *//*# sourceMappingURL=index.css.map */