html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
  overflow-x: hidden;
}
body .main-text {
  color: hsl(229, 8%, 60%);
  line-height: 1.6;
}
@media (max-width: 1024px) {
  body .main-text {
    font-size: 0.875rem;
  }
}
body.lock {
  overflow: hidden;
}
body.opened .mobile-menu {
  display: flex;
}
body .arrow-transform {
  transform: rotate(180deg);
  filter: invert(65%) sepia(95%) saturate(3458%) hue-rotate(324deg) brightness(99%) contrast(105%);
}
body .white-fill {
  filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(155deg) brightness(100%) contrast(105%);
}

a, a:visited, a:hover {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 2.375rem;
  font-weight: 500;
}
@media (max-width: 1024px) {
  h2 {
    font-size: 1.75rem;
  }
}

.header {
  display: block;
  padding-block: 40px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__right_mobile-menu-trigger {
  display: none;
}
@media (max-width: 1024px) {
  .header__right_mobile-menu-trigger {
    display: flex;
  }
}
@media (max-width: 1024px) {
  .header .nav {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
}
.nav__item {
  margin-right: 50px;
  color: hsl(229, 31%, 21%);
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.nav__item:hover {
  color: hsl(0, 94%, 66%);
}

.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: rgba(37, 43, 70, 0.96);
}
.mobile-menu .social-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.mobile-menu__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.mobile-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.mobile-nav :nth-child(3) {
  border-bottom: 1px solid hsl(229, 8%, 60%);
}
.mobile-nav__item {
  padding: 22px;
  color: hsl(0, 100%, 100%);
  font-size: 1.125rem;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  letter-spacing: 1px;
  border-top: 1px solid hsl(229, 8%, 60%);
}
.mobile-nav__item:hover {
  color: hsl(0, 94%, 66%);
}
.mobile-nav .btn {
  margin-top: 24px;
  padding: 10px;
  color: hsl(0, 100%, 100%);
  font-size: 1.125rem;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  width: 100%;
  letter-spacing: 1px;
  border: 2px solid hsl(0, 100%, 100%);
  border-radius: 6px;
}

.hero {
  margin-top: 60px;
}
.hero .container {
  display: flex;
  flex-direction: row;
  gap: 130px;
}
@media (max-width: 1024px) {
  .hero .container {
    flex-direction: column-reverse;
    gap: 0px;
    margin-top: 10px;
    align-items: center;
  }
}
.hero__text {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  gap: 30px;
  white-space: pre-line;
}
@media (max-width: 1024px) {
  .hero__text {
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
.hero__text h1 {
  font-size: 3.75rem;
  line-height: 1;
  color: hsl(229, 31%, 21%);
  font-weight: 500;
}
@media (max-width: 1024px) {
  .hero__text h1 {
    font-size: 1.75rem;
    line-height: 1.4;
  }
}
.hero__text .btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding-top: 5px;
}
.hero__img {
  display: flex;
  flex: 1;
  position: relative;
}
.hero__img-bg {
  flex: 1;
  background-color: #5368df;
  height: 70%;
  position: absolute;
  width: 108%;
  z-index: -1;
  border-radius: 200px 0 0 200px;
  bottom: 0;
  right: -36.6%;
}

.features {
  padding-top: 90px;
}
@media (max-width: 1024px) {
  .features {
    padding-top: 150px;
  }
}
.features .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.features__text h2 {
  padding-bottom: 20px;
}
.features__text p {
  max-width: 540px;
}
.features__selection {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  padding-bottom: 35px;
}
@media (max-width: 1024px) {
  .features__selection {
    width: 100%;
    flex-direction: column;
    padding-top: 35px;
  }
}
.features__selection .border-wrapper {
  padding-inline: 50px;
  border-bottom: 1px solid hsl(229, 8%, 60%);
}
@media (max-width: 1024px) {
  .features__selection .border-wrapper:nth-child(1) {
    border-top: 1px solid hsl(229, 8%, 60%);
  }
}
.features__selection .border-wrapper p {
  display: inline-block;
  padding-bottom: 16px;
}
@media (max-width: 1024px) {
  .features__selection .border-wrapper p {
    padding-top: 20px;
  }
}
.features__selection .border-wrapper p:hover {
  color: hsl(0, 94%, 66%);
  cursor: pointer;
}
.features__view-current {
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
@media (max-width: 1024px) {
  .features__view-current {
    padding-top: 40px;
    flex-direction: column;
    gap: 90px;
    height: unset;
  }
}
.features__view-current .view {
  display: flex;
  position: relative;
}
.features__view-current .view .bg {
  flex: 1;
  background-color: #5368df;
  height: 80%;
  position: absolute;
  width: 200%;
  z-index: -1;
  border-radius: 0 200px 200px 0;
  bottom: -10%;
  left: -120%;
}
.features__view-current .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  gap: 23px;
}
.features__view-current .text p {
  max-width: 440px;
}
@media (max-width: 1024px) {
  .features__view-current .text {
    align-items: center;
    text-align: center;
    gap: 13px;
  }
  .features__view-current .text .btn-blue {
    display: none;
  }
}

.extensions {
  padding-top: 160px;
}
@media (max-width: 1024px) {
  .extensions {
    padding-top: 140px;
  }
}
.extensions .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.extensions__text p {
  max-width: 540px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.extensions__items {
  display: flex;
  flex-direction: row;
  gap: 35px;
}
@media (max-width: 1024px) {
  .extensions__items {
    flex-direction: column;
  }
}
.extensions__item {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  padding: 26px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.extensions__item:nth-child(2) {
  transform: translateY(40px);
}
.extensions__item:nth-child(3) {
  transform: translateY(80px);
}
@media (max-width: 1024px) {
  .extensions__item:nth-child(2) {
    transform: none;
  }
  .extensions__item:nth-child(3) {
    transform: none;
  }
}
.extensions__item .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}
.extensions__item h3 {
  font-weight: 500;
}
.extensions__item p {
  font-size: 0.875rem;
}
.extensions__item .btn-blue {
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1.5;
}

.faq {
  padding-top: 235px;
  padding-bottom: 150px;
}
@media (max-width: 1024px) {
  .faq {
    padding-top: 135px;
    padding-bottom: 120px;
  }
}
.faq .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.faq__text {
  max-width: 520px;
}
.faq__text p {
  padding-top: 30px;
  padding-bottom: 60px;
}
.faq__items {
  width: 540px;
  padding-bottom: 50px;
}
@media (max-width: 1024px) {
  .faq__items {
    width: unset;
    min-width: 320px;
    width: 100%;
  }
}
.faq__item {
  padding-block: 25px;
  border-top: 1px solid hsl(229, 8%, 60%);
}
.faq__item:nth-last-child(1) {
  border-bottom: 1px solid hsl(229, 8%, 60%);
}
.faq__item:hover {
  color: hsl(0, 94%, 66%);
  cursor: pointer;
}
.faq__item .question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.faq__item .question h4 {
  line-height: 1;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .faq__item .question h4 {
    font-size: 0.875rem;
  }
}
.faq__item .question img {
  margin-right: 20px;
  width: 18px;
  height: 12px;
}
@media (max-width: 1024px) {
  .faq__item .question img {
    margin-right: 0px;
  }
}
.faq__item .answer {
  display: none;
  padding-top: 30px;
  text-align: left;
}
.faq__item .answer :hover {
  cursor: default;
}

.cta {
  background-color: hsl(231, 69%, 60%);
  padding-block: 70px;
}
.cta .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.cta__text {
  width: 410px;
}
@media (max-width: 1024px) {
  .cta__text {
    width: unset;
  }
}
.cta__text p {
  color: hsl(0, 100%, 100%);
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 6px;
  padding-bottom: 40px;
}
@media (max-width: 1024px) {
  .cta__text p {
    padding-bottom: 10px;
  }
}
.cta__text h2 {
  color: hsl(0, 100%, 100%);
  padding-bottom: 40px;
}
@media (max-width: 1024px) {
  .cta__text h2 {
    font-size: 1.75rem;
    padding-bottom: 20px;
  }
}
.cta__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 450px;
  gap: 20px;
}
@media (max-width: 1024px) {
  .cta__form {
    flex-direction: column;
    min-width: unset;
    width: 100%;
  }
}
.cta__form .input-container {
  position: relative;
  width: 100%;
}
.cta__form .input-container input {
  width: 100%;
  padding: 15px;
  border-radius: 6px;
  font-size: 0.875rem;
  color: hsl(229, 8%, 60%);
  font-weight: 500;
  border: none;
  flex: 1;
}
.cta__form .input-container .icon-error {
  display: none;
  position: absolute;
  left: calc(100% - 30px);
  bottom: calc(100% - 35px);
}
.cta__form .input-error {
  display: none;
  position: absolute;
  width: 100%;
  background-color: hsl(0, 94%, 66%);
  color: hsl(0, 100%, 100%);
  font-size: 0.75rem;
  text-align: left;
  white-space: nowrap;
  padding: 5px;
  font-style: italic;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.cta__form .btn-red {
  white-space: nowrap;
  height: 50px;
  text-transform: none;
  line-height: 1;
}
.cta__form .btn-red:hover {
  cursor: pointer;
}
@media (max-width: 1024px) {
  .cta__form .btn-red {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.footer {
  height: 85px;
  background-color: hsl(229, 31%, 21%);
}
@media (max-width: 1024px) {
  .footer {
    height: 330px;
  }
}
.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: 30px;
  padding-inline: 160px;
}
@media (max-width: 1024px) {
  .footer .container {
    flex-direction: column;
    padding-inline: 0px;
  }
}
.footer__left {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1024px) {
  .footer__left {
    flex-direction: column;
    text-align: center;
  }
}
.footer__left .logo {
  padding-right: 60px;
}
@media (max-width: 1024px) {
  .footer__left .logo {
    padding-right: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1024px) {
  .footer__left .links {
    display: flex;
    flex-direction: column;
  }
}
.footer__left .links > .link {
  margin-right: 40px;
  color: hsl(0, 100%, 100%);
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
}
.footer__left .links > .link:hover {
  color: hsl(0, 94%, 66%);
}
@media (max-width: 1024px) {
  .footer__left .links > .link {
    margin-top: 30px;
    margin-right: 0px;
  }
}
.footer__right {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
@media (max-width: 1024px) {
  .footer__right {
    margin-top: 40px;
  }
}
.footer__right * {
  cursor: pointer;
}
.footer .attribution {
  background-color: hsl(229, 31%, 21%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: hsl(0, 100%, 100%);
}
.footer .attribution :nth-child(2) {
  margin-left: 10px;
}
.footer .attribution a {
  color: hsl(0, 94%, 66%);
  padding-left: 7px;
}
@media (max-width: 600px) {
  .footer .attribution {
    flex-direction: column;
  }
  .footer .attribution :nth-child(2) {
    margin-left: 0px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  height: 50px;
  font-weight: 700;
}

.btn, .btn-red {
  display: inline-flex;
  align-items: center;
  height: 50px;
  font-weight: 700;
}

.btn-red {
  height: 40px;
  padding: 13px 29px;
  font-size: 0.75rem;
  letter-spacing: 1px;
  color: hsl(0, 100%, 100%);
  background-color: hsl(0, 94%, 66%);
  border: 1px solid hsl(0, 94%, 66%);
  border-radius: 6px;
  text-transform: uppercase;
  box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.1);
}
.btn-red:hover {
  color: hsl(0, 94%, 66%);
  background-color: hsl(0, 100%, 100%);
  border: 1px solid hsl(0, 94%, 66%);
}

.btn, .btn-blue {
  display: inline-flex;
  align-items: center;
  height: 50px;
  font-weight: 700;
}

.btn-blue {
  font-size: 0.875rem;
  line-height: 1;
  color: hsl(0, 100%, 100%);
  font-weight: 500;
  padding: 16px 25px;
  border-radius: 6px;
  background-color: hsl(231, 69%, 60%);
  box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1024px) {
  .btn-blue {
    padding: 15px 20px;
    white-space: nowrap;
  }
}

.btn, .btn-blue, .btn-white {
  display: inline-flex;
  align-items: center;
  height: 50px;
  font-weight: 700;
}

.btn-blue, .btn-white {
  font-size: 0.875rem;
  line-height: 1;
  color: hsl(0, 100%, 100%);
  font-weight: 500;
  padding: 16px 25px;
  border-radius: 6px;
  background-color: hsl(231, 69%, 60%);
  box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1024px) {
  .btn-blue, .btn-white {
    padding: 15px 20px;
    white-space: nowrap;
  }
}

.btn-white {
  color: hsla(229, 31%, 21%, 0.719);
  background-color: hsla(229, 8%, 60%, 0.1);
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding-inline: 30px;
}/*# sourceMappingURL=index.css.map */