@use "./variables" as *;

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: $font-lg;
    line-height: 1.3;
    

    .main-text {
        color: $secondary-color-Gblue;
        line-height: 1.8;
        
        @media (max-width: 1024px) {
            font-size: $font-main;
        }
    }

    &.lock {
        overflow: hidden;
    }

    &.opened {
        .mobile-menu {
            display: flex;
        }
    }

}

a, a:visited, a:hover {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}