@use '../base/_variables' as *;

.cta {
    background-color: $primary-color-blue;
    padding-block: 70px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__text {
        width: 410px;

        @media (max-width: 1024px) {
            width: unset;
          }

        p {
          color: $secondary-white;
          font-size: $font-sm;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 6px;
          padding-bottom: 40px;

          @media (max-width: 1024px) {
            padding-bottom: 10px;
        }
        }

        h2 {
          color: $secondary-white;   
          padding-bottom: 40px;         
          
          @media (max-width: 1024px) {
            font-size: $font-xxl;
            padding-bottom: 20px;    
          }
        }
    }

    &__form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        min-width: 450px;
        gap: 20px;

        @media (max-width: 1024px) {
            flex-direction: column;
            min-width: unset;
            width: 100%;
        }
        
        .input-container {
            position: relative;
            width: 100%;

            input {
                width: 100%;
                padding: 15px;
                border-radius: 6px;
                font-size: $font-med;
                color: $secondary-color-Gblue;
                font-weight: 500;
                border: none;
                flex: 1;
    
            }
    
            .icon-error {
                display: none;
                position: absolute;
                left: 260px;
                bottom: 10px
            }
        }

        .input-error {
            display: none;
            position: absolute;
            width: 100%;
            background-color: $primary-color-red;
            color: $secondary-white;
            font-size: $font-sm;
            text-align: left;
            white-space: nowrap;
            padding: 5px;
            font-style: italic;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            
        }

        .btn-red {
            white-space: nowrap;
            height: 50px;
            text-transform: none;
            line-height: 1;

            &:hover {
                cursor: pointer;
            }

            @media (max-width: 1024px) {
                display: block;
                width: 100%;
                text-align: center;
            }
        }
    }
}