@use '../base/variables.scss' as *;

.features {
    padding-top: 90px;

    @media (max-width: 1024px) {
        padding-top: 150px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__text {
        h2 {
           padding-bottom: 20px; 
        }

        p {
            max-width: 540px;
        }
    }

    &__selection {
        display: flex;
        flex-direction: row;
        padding-top: 80px;
        padding-bottom: 35px;

        @media (max-width: 1024px) {
            width: 100%;
            flex-direction: column;
            padding-top: 35px;
        }
    }

    &__selection {

        .border-wrapper {
            padding-inline: 50px;
            border-bottom: 1px solid $secondary-color-Gblue;
            

            @media (max-width: 1024px) {
                &:nth-child(1) {
                    border-top: 1px solid $secondary-color-Gblue;
                }
            }
        }

        .border-wrapper p{
            display: inline-block;
            padding-bottom: 16px;

            @media (max-width: 1024px) {
                padding-top: 20px;
            }
            

            &:hover {
                color: hsl(0, 94%, 66%);
                cursor: pointer;
            }
        }
    }

    &__view-current {
        width: 100%;
        height: 420px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 100px;
     

        @media (max-width: 1024px) {
            padding-top: 40px;
            flex-direction: column;
            gap: 90px;
            height: unset;
        }
        
        .view {
            display: flex;
            position: relative;

            .bg{
                flex: 1;
                background-color: #5368df;
                height: 80%;
                position: absolute;
                width: 200%;
                z-index: -1;
                border-radius: 0 200px 200px 0;
                bottom: -10%;
                left: -120%;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: start;
            gap: 23px;

            & p {
                max-width: 440px;
            }


            @media (max-width: 1024px) {
                align-items: center;
                text-align: center;
                gap: 13px;

                .btn-blue {
                    display: none;
                }
            }
        }
    }
}