@use '../base/variables.scss' as *;

.header {
    display: block;
    padding-block: 40px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__right {
        
        &_mobile-menu-trigger {
            display: none;

            @media (max-width: 667px) {
                display: flex;
            }
        }

      
    }

    @media (max-width: 667px) {
        .nav {
            display: none;
        }
    }
}