@use '../base/variables.scss' as *;

.hero {
    margin-top: 60px; 
    overflow-x: hidden;

    .container {
        display: flex;
        flex-direction: row;
        gap: 130px;
      

        @media (max-width: 1024px) {
            flex-direction: column-reverse;
            gap: 0px;
            margin-top: 10px;
            align-items: center;
        }
    }

    &__text {
        padding-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
        gap: 30px;
        white-space: pre-line;

        @media (max-width: 1024px) {
            align-items: center;
            text-align: center;
            gap: 20px;
            
        }
        h1 {
            font-size: $font-xxxl;
            line-height: 1;
            color: $secondary-color-VDblue;
            font-weight: 500;

            @media (max-width: 1024px) {
                font-size: $font-xxl;
                line-height: 1.4;
            }
        }

        .btn-container {    
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 14px;
            padding-top: 5px;

            & > .btn {
                font-size: $font-med;
                line-height: 1;
                color: $secondary-white;
                font-weight: 500;
                padding: 16px 25px;
                border-radius: 6px;
                background-color: $primary-color-blue;
                box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.1);

                @media (max-width: 1024px) {
                    padding: 15px 20px;
                    white-space: nowrap;
                }
            }

            :nth-child(2) {
                color: $secondary-color-VDblueTransp;
                background-color: $secondary-color-GblueTransp;
            }
        }
    }

    &__img {
        display: flex;
        flex: 1;
        position: relative;
        /* overflow-y: clip;
        overflow-clip-margin: 240px; */
        
        &-bg{
            flex: 1;
            background-color: #5368df;
            height: 70%;
            position: absolute;
            width: 108%;
            z-index: -1;
            border-radius: 200px 0 0 200px;
            bottom: 0;
            right: -36.6%;
        }
    }
}
