@use '../base/_variables' as *;

.faq {
    padding-top: 235px;
    padding-bottom: 150px;

    @media (max-width: 1024px) {
        padding-top: 135px;
        padding-bottom: 120px;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__text {
        max-width: 520px;

        p {
            padding-top: 30px;
            padding-bottom: 60px;
        }
    }

    &__items {
        width: 540px;
        padding-bottom: 50px;

        @media (max-width: 1024px) {
            width: unset;
            min-width: 320px;
            width: 100%;
        }
        
    }

    &__item {
        padding-block: 25px;
        border-top: 1px solid $secondary-color-Gblue;

        &:nth-last-child(1) {
            border-bottom: 1px solid $secondary-color-Gblue;
        }

        &:hover{
            color: $primary-color-red;
            cursor: pointer;
        }

        .question {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            h4  {
                line-height: 1;
                font-weight: 400;

                @media(max-width: 1024px) {
                    font-size: $font-med;
                }
            }
    
            img {
                margin-right: 20px;
                width: 18px;
                height: 12px;

                @media (max-width: 1024px) {
                    margin-right: 0px;
                }
            }
        }

        .answer {
            display: none;
            padding-top: 30px;
            text-align: left;

            :hover {
                cursor: default;
            }
        }
    }
}