@use '../base/_variables' as *;

.footer {
    height: 85px;
    background-color: $secondary-color-VDblue;

    @media (max-width: 1024px) {
        height: 330px;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-block: 30px;
        padding-inline: 160px;

        @media (max-width: 1024px) {
            flex-direction: column;
            padding-inline: 0px;
        }
    }

    &__left {
        display: flex;
        flex-direction: row;

        @media (max-width: 1024px) {
            flex-direction: column;
            text-align: center;
        }

        .logo {
            padding-right: 60px;

            @media (max-width: 1024px) {
                padding-right: 0px;
                width: 100%;
                height: 100%;
            }
        }

        .links {
            @media (max-width: 1024px) {
                display: flex;
                flex-direction: column;
            }
        }

        .links > .link{
            margin-right: 40px;
            color: $secondary-white;
            font-size: $font-sm;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;
            text-decoration: none;
    
            &:hover {
                color: $primary-color-red;
            }

            @media (max-width: 1024px) {
                margin-top: 30px;
                margin-right: 0px;
            }
        } 
    }

    &__right {
        display: flex;
        flex-direction: row;
        gap: 40px;
        @media (max-width: 1024px) {
            margin-top: 40px;
        }
    }

    &__right *{
        cursor: pointer;
    }

    .attribution {
        background-color: $secondary-color-VDblue;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        color: $secondary-white;

        :nth-child(2) {
            margin-left: 10px;
        }

        a {
            color: $primary-color-red;
            padding-left: 7px;
        }

        @media (max-width: 600px) {
            flex-direction: column;

            :nth-child(2) {
                margin-left: 0px;
            }
        }

      

       
    }

}