@use '../base/_variables' as *;

.nav {
    display: flex;
    align-items: center;
 

    &__item {
        margin-right: 50px;
        color: $secondary-color-VDblue;
        font-size: $font-sm;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:hover {
            color: $primary-color-red;
        }
    }

}